.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
fvm/

ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

android/.gradle
android/local.properties
android/key.properties

.idea/
.vscode/
*.iml
.DS_Store
